@import url('https://use.typekit.net/wvm0vrv.css');
:root {
    --main-font: "termina", sans-serif;
    --dark-blue: #242131;
  }
  /* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%
}
*, *:before, *:after {
  box-sizing: inherit;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--main-font);
    padding: 0;
    margin: 0;
  }

  h2{
    font-size: 6rem;
  }
  

  /*Genaral*/
   body{
    font-size: 62.5%;
   }

   p{
    font-family: var(--main-font);
   }
  /*NAVEGACION*/
  header{
    background-color: var(--dark-blue);
    width: 95%;
    margin: 0 auto;
    position: sticky;
    top: 10px;
    border-radius: 50px;
    z-index: 100;
  }

  a.nav-link{
    font-family: var(--main-font);
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  .navbar-brand img{
    width: 200px;
    height: auto;
  }

 
